doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Spotify API
    link(rel="stylesheet", href="/stylesheets/artists-style.css")

  body
    header
      nav
        a(href="/") Home
      .container
        h2.title-header Spotify Searcher
        .message-search
          p Artists found for "#{search}":
    .artists-container
      each artist in artists
        .artist-container
            div.artist-info
                h3.artist-name= artist.name
            a(href=`${artist.external_urls.spotify}`, name="artist")
                if artist.images.length > 0
                    img.artist-img(src=artist.images[2].url)

